language: scala

scala: 2.11.1

notifications:
  email: false

jdk:
  - oraclejdk8
  - openjdk8

dist: trusty

install: ./gradlew setupCIWorkspace -S
script: ./gradlew build -S

env:
  global:
    TERM=dumb

sudo: false
cache:
  directories:
  - $HOME/.gradle/caches
  - $HOME/.gradle/wrapper
